<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta name="language" content="fr-fr" />    
    <link rel="shortcut icon" href="cisco.jpg" type="image/x-icon" />     
    <link rel="stylesheet" type="text/css" href="main.css" />  
<title>Lab Portal</title>
    <script type="text/javascript" src="/static/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/static/jquery/jquery.maphilight.js"></script>
	<script type="text/javascript">$(function() {
		$('.map').maphilight({fade: false});
	});</script>
   <script language='javascript'>
    function popup_window( url, id, width, height )
    {
       //extract the url parameters if any, and pass them to the called html
       var tempvar=document.location.toString(); // fetch the URL string
       var passedparams = tempvar.lastIndexOf("?");
       if(passedparams > -1)
          url += tempvar.substring(passedparams);
      popup = window.open( url, id, 'toolbar=no,scrollbars=yes,location=no,statusbar=no,menubar=no,resizable=no,width=' + width + ',height=' + height + '' );
      popup.focus();
    }    
  </script>   
    </head>
    
<body>
<table><tbody><tr><td><a href="javascript:popup_window('config_and_checks', 'hacker_console', 600, 400);">Config and checks</a></td><td><a href="https://securex.eu.security.cisco.com/" target="_blank">Connect to SecureX</a></td><td><a href="https://developer.webex.com/" target="_blank">Connect to Developer Webex</a></td></tr>
</tbody></table><hr>
<div class="container" id="page">				
	<div id="content">
<form id="yw0">       
        </div>
</form>
            
<div align="center">
            <p style="align:center"><img class="map" align="center" src="/static/lab_network_hacked.jpg" usemap="#map"/></p>
<map name="map">	
    <AREA SHAPE=RECT COORDS="34,90,110,170" HREF="javascript:popup_window('hacker', 'hacker_console', 600, 400);">    
</map>
</div>
</div>
<hr>
</body>
</html>